<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home</title>
</head>
<body>
<h1 th:text="${test}">홈</h1>

<table>
    <thead>
    <tr>
        <th>id</th>
        <th>name</th>
        <th>price</th>
    </tr>
    </thead>
    <tbody>
<!--    <tr>-->
<!--        <td>1</td>-->
<!--        <td>2</td>-->
<!--        <td>3</td>-->
<!--    </tr>-->
    <tr th:each="item : ${items}">
        <td th:text="${item.itemId}"></td>
        <td th:text="${item.itemName}"></td>
        <td th:text="${item.itemPrice}"></td>
        <td>
            <form method="post" th:action="@{'/item/del/' + ${item.itemId}}">
                <input type="submit" value="삭제"/>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<hr/>
<form method="post" th:action="@{'/item/update'}">
    <table>
        <tr>
            <td>ID: <input type="text" name="itemId"/></td>
        </tr>
        <tr>
            <td>이름: <input type="text" name="itemName"/></td>
        </tr>
        <tr>
            <td>가격: <input type="text" name="itemPrice"/></td>
        </tr>
    </table>
    <input type="submit" value="수정"/>
</form>
</body>
</html>