<!DOCTYPE html>
<html lang="en">
<head>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

    <meta charset="UTF-8">
    <title>home</title>
</head>
<body>
<h1 th:text="${test}">홈</h1>

<table>
    <thead>
    <tr>
        <th>id</th>
        <th>name</th>
        <th>price</th>
    </tr>
    </thead>
    <tbody>
<!--    <tr>-->
<!--        <td>1</td>-->
<!--        <td>2</td>-->
<!--        <td>3</td>-->
<!--    </tr>-->
    <tr th:each="item : ${items}">
        <td th:text="${item.itemId}"></td>
        <td th:text="${item.itemName}"></td>
        <td th:text="${item.itemPrice}"></td>
        <td>
            <form method="post" th:action="@{'/item/del/' + ${item.itemId}}">
                <input class="btn btn-warning" type="submit" value="삭제"/>
            </form>
        </td>
        <td>
<!--            <form method="get" th:action="@{'/home?itemId=' + ${item.itemId} + '&itemName=' + ${item.itemName}-->
<!--                    + '&itemPrice=' + ${item.itemPrice} } ">-->
<!--                <input type="submit" value="수정"/>-->
<!--            </form>-->
            <a th:href="@{'/home?itemId=' + ${item.itemId} + '&itemName=' + ${item.itemName}
                    + '&itemPrice=' + ${item.itemPrice} }">수정</a>
        </td>
    </tr>
    </tbody>
</table>

<hr/>
<h1>수 정</h1>
<form method="post" th:action="@{'/item/update'}">
        <input type="hidden" name="itemId" th:value="${updateId}" />
    <table>

        <tr>
            <td>이름: <input type="text" name="itemName" th:value="${updateName}" /></td>
        </tr>
        <tr>
            <td>가격: <input type="text" name="itemPrice" th:value="${updatePrice}" /></td>
        </tr>
    </table>
    <input type="submit" value="저장"/>
</form>

<hr/>
<h1>등 록</h1>
<form method="post" th:action="@{'/item/insert'}">

    <table>
        <tr>
            <td>아이디: <input type="text" name="itemId" /> </td>
        </tr>
        <tr>
            <td>이름: <input type="text" name="itemName" /></td>
        </tr>
        <tr>
            <td>가격: <input type="text" name="itemPrice" /></td>
        </tr>
    </table>
    <input type="submit" value="저장"/>
</form>
<h3 th:text="${message}"></h3>

</body>
</html>