<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">

    <title>home</title>
</head>
<body>
<h1 th:text="${test}">홈</h1>

<table class="table table-dark table-striped">
    <thead>
    <tr>
        <th>id</th>
        <th>name</th>
        <th>price</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>

    <!-- th:each는 타입리프문법의 반복문 items의 개수만큼 item을 반복함  -->
    <tr th:each="item : ${items}">
        <td th:text="${item.itemId}"></td>
        <td th:text="${item.itemName}"></td>
        <td th:text="${item.itemPrice}"></td>
        <td>
            <form method="post" th:action="@{'/item/del/' + ${item.itemId}}">
                <input class="btn btn-warning" type="submit" value="삭제"/>
            </form>
        </td>
        <td>
<!--            <form method="get" th:action="@{'/home?itemId=' + ${item.itemId} + '&itemName=' + ${item.itemName}-->
<!--                    + '&itemPrice=' + ${item.itemPrice} } ">-->
<!--                <input type="submit" value="수정"/>-->
<!--            </form>-->
            <a th:href="@{'/home?itemId=' + ${item.itemId} + '&itemName=' + ${item.itemName}
                    + '&itemPrice=' + ${item.itemPrice} }">수정</a>
        </td>
    </tr>
    </tbody>
</table>

<hr/>
<h1>수 정</h1>
<form method="post" th:action="@{'/item/update'}">
        <input type="hidden" name="itemId" th:value="${updateId}" />
    <table class="table table-dark table-striped">

        <tr>
            <td>이름: <input type="text" name="itemName" th:value="${updateName}" /></td>
        </tr>
        <tr>
            <td>가격: <input type="text" name="itemPrice" th:value="${updatePrice}" /></td>
        </tr>
    </table>
    <input type="submit" value="저장"/>
</form>

<hr/>
<h1>등 록</h1>
<form method="post" th:action="@{'/item/insert'}">

    <table class="table table-dark table-striped">
        <tr>
            <td>아이디: <input type="text" name="itemId" /> </td>
        </tr>
        <tr>
            <td>이름: <input type="text" name="itemName" /></td>
        </tr>
        <tr>
            <td>가격: <input type="text" name="itemPrice" /></td>
        </tr>
    </table>
    <input type="submit" value="저장"/>
</form>
<h3 th:text="${message}"></h3>

</body>
</html>